body {
    text-align: center;
}
#header{
    font-size: 3em;
    width: 100%;
    padding: 10px;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    justify-content: center;
}

.cell {
    border: 1px solid black;
    min-height: 50px;
    width: 100%;
    background-color: blue;
}
.text{
    visibility: hidden;
}
.gameOverDiv{
    position: absolute;
    left: 37.5%;
    top: 46%;
    font-size: 1.5em;
    background-color: black;
    display: none;
    color: #fff;
    padding: 20px;
}